# Dependencies
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local


# Build tools specific
npm-debug.log
yarn-error.log

# Editors 
.vscode

# Next
.next
certificates

# Pnpm
pnpm-lock.yaml